<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	id="v9.test" version="1.0.0">
	<name>V9 test</name>

	<description>
		A sample Apache Cordova application that responds to the
		deviceready
		event.
	</description>

	<author href="http://www.eclipse.org/thym" email="thym-dev@eclipse.org">
		Eclipse.org -
		Thym
	</author>

	<content src="index.html" />

	<access origin="*" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />

	<feature name="App">
		<param name="android-package" value="org.apache.cordova.App" />
	</feature>
	<feature name="Device">
		<param name="android-package" value="org.apache.cordova.device.Device" />
		<param name="ios-package" value="CDVDevice" />
		<param name="id" value="org.apache.cordova.device" />
	</feature>
	<feature name="File">
		<param name="android-package" value="org.apache.cordova.file.FileUtils" />
		<param name="onload" value="true" />
		<param name="ios-package" value="CDVFile" />
		<param name="onload" value="true" />
		<param name="id" value="org.apache.cordova.file" />
	</feature>
	<feature name="Media">
		<param name="android-package" value="org.apache.cordova.media.AudioHandler" />
		<param name="ios-package" value="CDVSound" />
		<param name="id" value="org.apache.cordova.media" />
	</feature>

</widget>
